@import'../conteudo/variaveis';


.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    padding: 20px;
    background-color: $bg-color;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
    overflow: auto;
    .cart-cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart-title{
        text-align: center;
        font-weight: 600;
        }
        #close-cart{
            font-weight: 600;
        }
    }

    .cart-box{
        display: grid;
        grid-template-columns: 30% 50% 20%;
        gap: 1rem;
        .cart-img{
            width: 100px;
            padding: 100px;
            object-fit: contain;
            padding: 5px;
        }
        .cart-size-value{
            display: flex;
            gap: 1.5em;
            .cart-price{
            font-weight: 500;
            display: inline-block;
        }
        .cart-size{
            font-weight: bold;
        }
        

        }
       .detail-box{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        .cart-price{
            font-weight: 600;
        }
        .cart-quantity{
            border: 1px solid black;
            width: 2.4rem;
            text-align: center;
            font-size: 1rem;
        }
       }
       .card-remove{
        align-self: center;
        opacity: .7;
        color: $color-main;
       }
    }

    .total{
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        border-top: 1px solid $color-sec;
        .total-title{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .total-price{
            margin-left: 1em;

        }
    }
    .btn-buy{
        display: flex;
        margin: 1rem auto;
        justify-content: center;
        width: 150px;
        text-transform: uppercase;
        background-color: $color-main;
        border: none;
        color: $bg-color;
        border-radius: 5px;
        font-size: 1.1em;
        transition: .5s;
        &:hover{
            background-color: $bg-color;
            color: $color-main;
            border: 1px solid $color-main;
        }
    }
}

.active{
    right: 0;
}