@import'../conteudo/variaveis';

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bg-color;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 999;

    .logo-container{
        display: flex;
        align-items: center;
        justify-items: center;
        margin-left: 5em;
        .logo{
            width: 50px;
        }
        .logoName{
            font-size: 1.3rem;
            font-weight: bolder;
            color: $color-sec;
            font-weight: 400;
        }
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem ;
        color: $color-sec;
        .logoName{
            font-size: 1.3rem;
            font-weight: 900;
            color: $color-sec;
            font-weight: 400;
        }
        i{
            font-size: 1.8rem;
            cursor: pointer;
            margin-right: 1em;
            position: absolute;
            right: 0;
            
        }
    }
    .container{
        margin: auto;
        width: 100vw;
    }
}