@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";

$fonte:  'Poppins', sans-serif;

$color-main: #fd4646;
$color-sec: #171427;
$bg-color:#fff;


img{
    width: 100%;
}

