@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap.css";
img {
  width: 100%;
}

img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  z-index: 999;
}
header .logo-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 5em;
}
header .logo-container .logo {
  width: 50px;
}
header .logo-container .logoName {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #171427;
  font-weight: 400;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #171427;
}
header .nav .logoName {
  font-size: 1.3rem;
  font-weight: 900;
  color: #171427;
  font-weight: 400;
}
header .nav i {
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 1em;
  position: absolute;
  right: 1vw;
}
header .container {
  margin: auto;
  width: 100vw;
}
header .num-car {
  position: absolute !important;
  background-color: rgb(11, 11, 11);
  color: white;
  top: 2vh;
  right: 4vw;
  font-weight: bolder;
  border: solid 2px black;
  padding: 3px 8px;
  border-radius: 50%;
}

img {
  width: 100%;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.cart .cart-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .cart-cabecalho .cart-title {
  text-align: center;
  font-weight: 600;
}
.cart .cart-cabecalho #close-cart {
  font-weight: 600;
}
.cart .cart-box {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  gap: 1rem;
}
.cart .cart-box .cart-img {
  width: 100px;
  padding: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}
.cart .cart-box .cart-size-value {
  display: flex;
  gap: 1.5em;
}
.cart .cart-box .cart-size-value .cart-price {
  font-weight: 500;
  display: inline-block;
}
.cart .cart-box .cart-size-value .cart-size {
  font-weight: bold;
}
.cart .cart-box .detail-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.cart .cart-box .detail-box .cart-price {
  font-weight: 600;
}
.cart .cart-box .detail-box .cart-quantity {
  border: 1px solid black;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart .cart-box .card-remove {
  align-self: center;
  opacity: 0.7;
  color: #fd4646;
}
.cart .total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #171427;
}
.cart .total .total-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.cart .total .total-price {
  margin-left: 1em;
}
.cart .btn-buy {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  width: 150px;
  text-transform: uppercase;
  background-color: #fd4646;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1em;
  transition: 0.5s;
}
.cart .btn-buy:hover {
  background-color: #fff;
  color: #fd4646;
  border: 1px solid #fd4646;
}

.active {
  right: 0;
}

img {
  width: 100%;
}

.shop {
  margin-top: 2rem;
  margin: 0 3em;
}

.container {
  padding: 4rem 0 3rem;
}
.container .section-title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}
.container .shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.container .shop-content .product-box {
  position: relative;
}
.container .shop-content .product-box:hover {
  border: 1px solid black;
  transition: 0.4s;
}
.container .shop-content .product-box .container-img {
  position: relative;
}
.container .shop-content .product-box .container-img:hover {
  padding: 10px;
  transition: 0.4s;
}
.container .shop-content .product-box .container-img img {
  width: 100%;
  padding-bottom: 0.5rem;
}
.container .shop-content .product-box .product-title {
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.container .shop-content .product-box .price {
  font-weight: 500;
  padding: 5px;
}
.container .shop-content .product-box .add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #171427;
  color: #fff;
  cursor: pointer;
}

img {
  width: 100%;
}

.banner-wrapper {
  margin-top: 6em;
  width: 100vw;
}
.banner-wrapper .banner-items {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.banner-wrapper .banner-items .item {
  flex: none;
  scroll-snap-align: start;
  width: 100%;
  height: 400px;
  pointer-events: none;
}
.banner-wrapper .banner-items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
}

.modal {
  width: 80vw;
  max-width: 700px;
  padding: 2em;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .cabecalho-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3em;
}
.modal .cabecalho-modal .logo-modal {
  width: 50px;
}
.modal .cabecalho-modal i {
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
}
.modal .cabecalho-modal .modal-compras {
  height: 30vh;
  overflow-y: auto;
}
.modal .cabecalho-modal div.total-m {
  margin-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.modal-box {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  gap: 1rem;
}
.modal-box .modal-img {
  width: 100px;
  padding: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
}
.modal-box .modal-product-title {
  text-transform: uppercase;
}
.modal-box .modal-box-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-padding-top: 2em;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #171427;
  background-color: #fff;
}

.modelo {
  display: none;
}/*# sourceMappingURL=style.css.map */